@import "tailwindcss";
@import "tw-animate-css";

/* Load Poppins fonts with weights */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

/* Only dark mode */
:root {
  --radius: 0.625rem;

  --background: #0F0F0F;
  --foreground: #008170;
  --border: #005B41;
  --accent: #232D3F;

  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --chart-1: #86efac;
  --chart-2: #7dd3fc;
  --chart-3: #c4b5fd;
  --chart-4: #fcd34d;
  --chart-5: #f87171;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  * {
    @apply border-[var(--color-border)] outline-[var(--color-accent)/50];
  }

  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)] font-[Poppins];
  }
}
